<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Emp Salary</th>
        </tr>
        <tr *ngFor = "let employee of employees" [style.background] = "getColor(employee.salary)"> 
            add commonModule in the imports for using *ngFor
            <td>{{employee.eid}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
        </tr>
    </table>
</body>
</html> -->
<h1>This is arrayex Component</h1>
<button (click)="changeColor()">Change to Green</button>